@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    background-color: rgba(26, 11, 46, 1);
    max-width: 1600px;
    margin: 0 auto;
}

/* common css style  */
.flex {
    display: flex;
}

.p_c {
    color: rgba(26, 11, 46, 1);
}

/* header style  */

header {
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgb(48, 29, 75);
}

.logo {
    color: white;
}

.logo_color {
    background-image: linear-gradient(rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    color: transparent;
    background-clip: text
}

.navbar {
    list-style: none;
    gap: 2rem;
}

.nav_items a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

.btn {
    border: none;
    background-image: linear-gradient(to top right, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    padding: 12px 16px;
    color: rgba(255, 255, 255, 1);
    border-radius: 1.25rem;
    font-size: 16px;
    font-weight: 600;
}

.hamburger {
    display: none;
}


/* banner css style  */
.banner {
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;

    */
    /* max-width: 1600px;
    /* background: url("../assets/hero-circle.png"), url("../assets/hero-bg.png");
    background-position: center 100px, center;
    background-repeat: no-repeat */
}

.banner_tach {
    justify-content: center;
    align-items: center;
    background-image: url(./assets/hero-bg.png);

}

.banner_cercle_speaker {
    margin: 0 auto;
    margin-top: 5%;
    max-width: 350px;
    position: relative;
    z-index: 1;

}

.hero_circle img {
    max-width: 365px;
}

.micro img {
    width: 100%;
}

.micro {
    margin: 0 auto;
    position: absolute;
    top: 82px;
    left: 115px;
    z-index: 2;
}

.new_btn {
    position: absolute;
    z-index: 3;
    top: 1.125rem;
    left: 16rem;

}


.new_btn {
    border: none;
    color: black;
    background-color: rgba(0, 255, 136, 1);
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 1.12rem;
    font-weight: 600;
    box-shadow: 0px 0px 10px 0px #06d606;
}


/* banneer content css */

.banner_content {
    text-align: center;
    padding-bottom: 10px;

}

.company_nam {
    font-size: 3.75rem;
    font-weight: 800;
    color: rgba(255, 255, 255, 1);
    margin: 0px;
}

.tach_text {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.767);
}

.spotify_btn {
    padding: 12px 20px;
}

.Subscribe_btn {
    text-decoration: none;
    color: rgba(0, 255, 136, 1);
    border: 1px solid rgba(0, 255, 136, 1);
    padding: 12px 20px;
    border-radius: 20px;

}

.bttttn {
    justify-content: center;
    gap: 20px;
    padding-bottom: 100px;
}



/* about css section css style  */

.about {
    max-width: 1200px;
    margin: 0 auto;

}

.container {
    text-align: center;

}

.about_title {
    font-size: 3rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
}

.about_text,
.about_text_last {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.805);
    line-height: 30px;
}

.about_text_last {
    margin-top: 60px;
}

.about_cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    margin-top: 80px;
    text-align: center;
    border:1px solid rgb(53, 33, 81);
    padding: 80px;
}

.card_abouts h1 {
    font-size: 3rem;
    font-weight: 900;
    color: rgba(0, 255, 136, 1);
    margin: 0px;
}

.card_abouts p {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    color: rgba(255, 255, 255, 0.836);
}




/* responsive style  */
/* mobile devise  */
@media screen and (max-width:576px) {

    /* header section  */
    nav,
    button {
        display: none;
    }

    header {
        padding: 16px 20px;
        justify-content: space-between;
    }

    .logo {
        font-size: 1.25rem;
    }

    .hamburger {
        display: inline;
    }

    /* banner content css style ; */


    .banner_content {
        width: 300px;
        margin: 0 auto;
    }

    .company_nam {
        font-size: 2rem;
    }

    .tach_text {
        flex-direction: column;
    }
 /* card css  */
.about_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;

}
.about_title {
    font-size: 2rem;

}
.about_text,
.about_text_last {
    
    padding: 20px;
}


}